[*]
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = false
insert_final_newline = false
indent_style = space
indent_size = 4

# ReSharper properties
resharper_line_break_after_colon_in_member_initializer_lists = on_single_line
resharper_line_break_before_comma_in_member_initializer_lists = true
resharper_member_initializer_list_style = line_break
